profiles {

    standard {
        
        process {
            container = 'raphsoft/mousesv:1.3'
        }

        docker {
            enabled = true
            fixOwnership = true
            runOptions= "-v $HOME:$HOME"
        }
    }

    lsf {

        process {
            container = '/nfs/production/keane/research/user/emilio/sv_catalog/pipeline/singularity/mousesv-1.3.simg'
        }

        docker {
            enabled = false
        }

        singularity {
            enabled = true
        }
    }

}
